<!DOCTYPE html>
<html>
<head>
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1>Welcome, <%= user.firstName %> <%= user.lastName %>!</h1>
    <form action="/update-user" method="POST">
        <input type="hidden" name="email" value="<%= user.email %>">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>">
        <button type="submit">Update</button>
    </form>

    <h2>Log Activity</h2>
    <form action="/regActivity" method="POST">
        <label for="activity">Activity:</label>
        <input type="text" id="activity" name="activity" required>
        
        <label for="startTime">Start Time:</label>
        <input type="datetime-local" id="startTime" name="startTime" required>
        
        <button type="submit">Log Activity</button>
    </form>
</body>
</html>